
:root {
    --cor-base: #ffffffc5;
    --vermelho: #610000;
    --titulo-prin: #6acdf5;
    --nomes-name: #72d0f5;
  }
#texto{
  color: #321cff;
}

        body {
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
        }

        h1 {
            margin-top: 100px;
        }

        .meio {
            position: relative;
            display: block;
        }

        .nomes {
            position: absolute;
            top: 65%;
            left: 65%;
            transform: translate(-50%, -50%);
            color: rgb(124, 0, 0);
            text-shadow: 2px 2px 4px rgba(206, 82, 82, 0.7);
        }

        .img {
            max-width: 89%;
            height: auto;
            display: block;
        }
    
.contagem{
    background-color: black;
    padding: 20px 0;
    text-align: center;
}

.objetivos{
    padding: 20px;
}

    