:root {
    --cor-base: #ffffffc5;
    --vermelho: #610000;
    --titulo-prin: #63d0fc;
    --nomes-name: #63d0fc;
  }
  body {
    background-color: var(--cor-base);
    color: var(--vermelho);
    font-family: 'Regular 400', sans-serif;
}

h1{
  background-color: var(--titulo-prin);

}
h2{
  background-color: var(--nomes-name);
}
.meio{
  background-color: var(--nomes-name);
 display: flex; 
}
.img{
  width: 35%;
}
#texto{
  color: #006983;
}